// ion-item{
//     --background: var( --ion-color-primary);
//     --color: var(--ion-color-primary-contrast)
// }
// ion-toolbar{
//     --background: var( --ion-color-primary);
//     --color: var(--ion-color-primary-contrast) 
// }
// ion-button{
//     --background: #062f77;
// }
.label{
    color: var(--ion-color-dark);
    font-size: 20px;  
}
.selectLable{
    color: var(--ion-color-dark);
    font-size: 20px;  
}
