<ion-toolbar  class="ion-no-border ion-text-center" mode="ios">
  <ion-title>Add profile picture</ion-title>
  <ion-buttons slot="start"  class="ion-no-border" mode="md" >
      <ion-back-button defaultHref="auth"></ion-back-button>
  </ion-buttons>
</ion-toolbar>
<ion-content  class="ion-padding">
  As per the survey 79% of peoplr select profile based on picture you set as profile picture So Upload your best 3 Phtos

  <ion-grid>
      <ion-row>
        <ion-col text-center>
          <h3>Image Picker</h3>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>
          <ion-button (click)="pickMultipleImagePicker()">Choose Images</ion-button>
          <ion-button (click)="pickMultipleCam()">Photodff Lib</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <!-- More Pinterest floating gallery style -->
          <div class="images">
            <div *ngFor="let item of imageResponse">
              <img [src]="item.img" alt="">
            </div>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>