<div class="backGroundColor ion-margin-vertical">
<ion-grid>
  <ion-row>
    <ion-col class="ion-padding-vertical" size="6">
      <div class="ion-padding-bottom cardName">Samantha Akkineni</div>
      <div class="UserDetails" color="medium">
        catholic Christan<br>
        New York, USA<br>
        UI UX Desiner<br>
        Computer Science
      </div>
    </ion-col>
    <ion-col class="ion-padding-vertical" size="6">
      <div class="ion-text-end ageNames">
        <span slot="start" class="ion-margin-bottom">  26 Years</span> 
        <ion-icon slot="end" name="heart-circle-filled" size="large" color="primary"></ion-icon>
        <!-- <ion-icon name="heart-circle-outline"></ion-icon> -->
      </div>

      <ion-slides [options]="slideOptsOne">
        <ion-slide>
          <img src="https://picsum.photos/120/120">
        </ion-slide>
        <ion-slide>
          <img src="https://picsum.photos/120/120">
        </ion-slide>
        <ion-slide>
          <img src="https://picsum.photos/120/120">
        </ion-slide>
      </ion-slides>

    </ion-col>
  </ion-row>
</ion-grid>
<ion-row>
  <ion-col>
    <ion-button fill="outline" size="small" expand="block" (click)="openProfileInfoCard()"> More Info</ion-button>
  </ion-col>
  <ion-col>
    <ion-button expand="block" size="small"> Connect</ion-button>
  </ion-col>
</ion-row>
</div>
