<div class="backGroundColor ion-margin-vertical">
<ion-grid>
  <ion-row>
    <ion-col class="ion-padding-vertical">
      <div class="ion-padding-bottom cardName">Samantha Akkineni</div>
      <div class="UserDetails" color="medium">
        catholic Christan<br>
        New York, USA<br>
        UI UX Desiner<br>
        Computer Science
      </div>
    </ion-col>
    <ion-col class="ion-padding-vertical">
      <div class="ion-padding-bottom ion-text-end ageNames">
        26 Years
        <ion-icon slot="end" name="heart-circle-outline" size="medium" color="primary"></ion-icon>
        <!-- <ion-icon name="heart-circle-outline"></ion-icon> -->
      </div>
      <img src="https://picsum.photos/120/120">

    </ion-col>
  </ion-row>
</ion-grid>
<ion-row>
  <ion-col>
    <ion-button fill="outline" size="small" expand="block"> More Info</ion-button>
  </ion-col>
  <ion-col>
    <ion-button expand="block" size="small"> Connect</ion-button>
  </ion-col>
</ion-row>
</div>
